<a href="https://colab.research.google.com/github/ILikhitha/Python-New/blob/module-2/Mid_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3rd Question
L=['a','b','c','d']
print(",".join(L))

a,b,c,d

In [ ]:
# 4th Question
# list-mutable
# Tuple-immutable
# set-immutable
# Dictionary-mutable

In [ ]:
# 5th Question
# Which function removes a set's first and the last element from a list
## pop

In [ ]:
# 6th Question
# What will be the output of the following python code snippet if x=1? x<<2
## Ans. 4

In [ ]:
# 7th Question
# 'class' is not a core data type in python programming

In [ ]:
# 'find' function searches the string for a specified value and returns the last position of where it was found

In [ ]:
# 8th Question
# function searches the string for a specified value and returns the last position of where it was found

In [ ]:
# 9th Question
# list1=[2;8;7]: Invalid syntax

In [ ]:
# 10th Question
# PYTHON IS AN GENERAL PURPOSE PROGRAMMING LANGUAGE

In [ ]:
# 11th Question
## IF RETURN STATEMENT IS NOT USED INSIDE THE FUNCTION,THE FUNCTION WILL RETURN IS 'NONE'

In [ ]:
# 12th Question
## PYTHON SUPPORTS INTEGERS,FLOAT AND COMPLEX

In [ ]:
# 13th Question
tuple1=(1,2,4,3)
tuple2=(1,2,3,4)
print(tuple1<tuple2)

False

In [ ]:
# 14th Question
var=10
for i in range(10):
  for i in range(2,10,1):
    if var%2==0:
      continue
      var+=1
    var+=1
else:
    var+=1
print(var)

11

In [ ]:
# 15th Question
a=True
b=False
c=False
if a or b and c:
  print("PYTHON")
else:
  print("python")

PYTHON

In [ ]:
# 16th Question
s=[12,23,345]
d=[i for i in s if i%2==0]
print(d)
print(s[-2:-1])
print([i for i in s if i>23])
print(s[1:1])

[12]
[23]
[345]
[]

In [ ]:
# 17th Question
x=1
while x<10:
  if x%5==0:
    break
  print(x)
  x+=1

1
2
3
4