<a href="https://colab.research.google.com/github/ILikhitha/Python-New/blob/module-2/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sets

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
print(Fruits)

{'Mango', 'Kiwi', 'Litchi', 'Apple'}

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
print(Fruits)
print(len(Fruits))

{'Mango', 'Kiwi', 'Litchi', 'Apple'}
4

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi','Mango'}
print(Fruits)

{'Mango', 'Kiwi', 'Litchi', 'Apple'}

In [ ]:
a={'Dragon fruit','Cherry','Water melon'}
b={1,2,3,4,5}
c={True,True,True}
print(a)
print(b)
print(c)

{'Dragon fruit', 'Cherry', 'Water melon'}
{1, 2, 3, 4, 5}
{True}

In [ ]:
a={'Apple',5,True,100,500,'abc'}
print(a)

{True, 100, 5, 'abc', 500, 'Apple'}

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi','Mango'}
print(type(Fruits))

<class 'set'>

In [ ]:
Fruits=set(('Apple','Mango','Litchi','Kiwi'))
print(Fruits)

{'Mango', 'Kiwi', 'Litchi', 'Apple'}

## Access set items

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
for i in Fruits:
  print(i)

Kiwi
Litchi
Mango
Apple

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
print("Litchi" in Fruits)

True

## Add set items

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.add("Orange")
print(Fruits)

{'Orange', 'Kiwi', 'Mango', 'Litchi', 'Apple'}

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
FruitsNew={'Dragon fruit','Water melon','Pine apple'}
Fruits.update(FruitsNew)
print(Fruits)

{'Pine apple', 'Kiwi', 'Mango', 'Water melon', 'Litchi', 'Dragon fruit', 'Apple'}

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
FruitsNew=['Dragon fruit','Water melon','Pine apple']
Fruits.update(FruitsNew)
print(Fruits)

{'Kiwi', 'Mango', 'Water melon', 'Litchi', 'Pine apple', 'Dragon fruit', 'Apple'}

## Remove set items

In [ ]:
# remove()
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.remove('Apple')
print(Fruits)

{'Kiwi', 'Litchi', 'Mango'}

In [ ]:
# discard()
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.discard('Apple')
print(Fruits)

{'Kiwi', 'Litchi', 'Mango'}

In [ ]:
# pop()
Fruits={'Apple','Mango','Litchi','Kiwi'}
i=Fruits.pop()
print(i)
print(Fruits)

Kiwi
{'Litchi', 'Mango', 'Apple'}

In [ ]:
# clear()
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.clear()
print(Fruits)

set()

In [ ]:
# del
Fruits={'Apple','Mango','Litchi','Kiwi'}
del Fruits
print(Fruits)
# As set no longer exists,it give an error

## Loop sets

In [ ]:
# for loop
Fruits={'Apple','Mango','Litchi','Kiwi'}
for i in Fruits:
  print(i)

Kiwi
Litchi
Mango
Apple

## Join sets

In [ ]:
# union()
a={'a','b','c','d'}
b={1,2,3,4}
c=a.union(b)
print(c)

{1, 2, 3, 'a', 4, 'd', 'b', 'c'}

In [ ]:
# update()
a={'a','b','c','d'}
b={1,2,3,4}
a.update(b)
print(a)

{1, 2, 3, 'a', 4, 'd', 'b', 'c'}

In [ ]:
# intersection_update()
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
a.intersection_update(b)
print(a)

{'Piano'}

In [ ]:
# intersection()
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
c=a.intersection(b)
print(c)

{'Piano'}

In [ ]:
# symmetric_difference_update()
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
a.symmetric_difference_update(b)
print(a)

{'Game', 'Shooting', 'Movie', 'Badminton'}

In [ ]:
# symmetric_difference()
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
c=a.symmetric_difference(b)
print(c)

{'Game', 'Shooting', 'Movie', 'Badminton'}

## Set methods

In [ ]:
# add(): Adds an element to the set
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.add("Dragon fruit")
print(Fruits)

{'Kiwi', 'Mango', 'Litchi', 'Dragon fruit', 'Apple'}

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.add("Apple")
print(Fruits)

{'Kiwi', 'Litchi', 'Mango', 'Apple'}

In [ ]:
# clear():	Removes all the elements from the set
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.clear()
print(Fruits)

set()

In [ ]:
# copy():	Returns a copy of the set
Fruits={'Apple','Mango','Litchi','Kiwi'}
i=Fruits.copy()
print(i)

{'Kiwi', 'Litchi', 'Mango', 'Apple'}

In [ ]:
# difference(): Returns a set containing the difference between two or more 
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
c=a.difference(b)
print(c)

{'Game', 'Movie'}

In [ ]:
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
c=b.difference(a)
print(c)

{'Badminton', 'Shooting'}

In [ ]:
# difference_update():	Removes the items in this set that are also included in another, specified set
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
a.difference_update(b)
print(a)

{'Game', 'Movie'}

In [ ]:
# discard():	Remove the specified item
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.discard('Apple')
print(Fruits)

{'Kiwi', 'Litchi', 'Mango'}

In [ ]:
# intersection():	Returns a set, that is the intersection of two or more sets
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
c=a.intersection(b)
print(c)

{'Piano'}

In [ ]:
A={'a','b','c'}
B={'d','e','a'}
C={'a','f','g'}
result=A.intersection(B,C)
print(result)

{'a'}

In [ ]:
# intersection_update()	Removes the items in this set that are not present in other, specified set(s) 
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
a.intersection_update(b)
print(a)

{'Piano'}

In [ ]:
A={'a','b','c'}
B={'d','e','a'}
C={'a','f','g'}
A.intersection_update(B,C)
print(A)

{'a'}

In [ ]:
# isdisjoint():	Returns whether two sets have a intersection or not
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
c=a.isdisjoint(b)
print(c)

False

In [ ]:
a={'Movie','Game','Piano'}
b={'Badminton','Tennis','Shooting'}
c=a.isdisjoint(b)
print(c)

True

In [ ]:
# issubset()	Returns whether another set contains this set or not
A = {"a", "b", "c"}
B = {"f", "e", "d", "c", "b", "a"}
C=A.issubset(B)
print(c)

True

In [ ]:
A = {"a", "b", "c"}
B = {"f", "e", "d", "c", "a"}
C=A.issubset(B)
print(C)

False

In [ ]:
# issuperset()	Returns whether this set contains another set or not
A = {"f", "e", "d", "c", "b", "a"}
B = {"a", "b", "c"}
C=A.issuperset(B)
print(C)

True

In [ ]:
A = {"f", "e", "d", "c", "b"}
B = {"a", "b", "c"}
C=A.issuperset(B)
print(C)

False

In [ ]:
# pop():	Removes an element from the set
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.pop()
print(Fruits)

{'Litchi', 'Mango', 'Apple'}

In [ ]:
Fruits={'Apple','Mango','Litchi','Kiwi'}
i=Fruits.pop()
print(i)

Kiwi

In [ ]:
# remove():	Removes the specified element
Fruits={'Apple','Mango','Litchi','Kiwi'}
Fruits.remove("Apple")
print(Fruits)

{'Kiwi', 'Litchi', 'Mango'}

In [ ]:
# symmetric_difference():	Returns a set with the symmetric differences of two sets
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
c=a.symmetric_difference(b)
print(c)

{'Game', 'Shooting', 'Movie', 'Badminton'}

In [ ]:
# symmetric_difference_update()	inserts the symmetric differences from this set and another
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
a.symmetric_difference_update(b)
print(a)

{'Game', 'Shooting', 'Movie', 'Badminton'}

In [ ]:
# union()	Return a set containing the union of sets
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
c=a.union(b)
print(c)

{'Game', 'Shooting', 'Badminton', 'Piano', 'Movie'}

In [ ]:
A = {"a", "b", "c"}
B = {"f", "d", "a"}
C = {"c", "d", "e"}
result=A.union(B,C)
print(result)

{'b', 'f', 'a', 'e', 'c', 'd'}

In [ ]:
# update()	Update the set with another set, or any other iterable
a={'Movie','Game','Piano'}
b={'Badminton','Piano','Shooting'}
a.update(b)
print(a)

{'Game', 'Shooting', 'Badminton', 'Piano', 'Movie'}