<a href="https://colab.research.google.com/github/ILikhitha/Python-New/blob/module-1/VU21CSEN0101846_Python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Static average of three numbers

In [ ]:
a=10
b=20
c=30
average=(a+b+c)/3
print(average)
print(type(average))
print(a)
print(type(a))

20.0
<class 'float'>
10
<class 'int'>

# Static multiplication of three numbers

In [ ]:
a=2
b=4
c=5
multiply=a*b*c
print(multiply)
print(type(multiply))
print(a)
print(type(a))

40
<class 'int'>
2
<class 'int'>

# Dynamic addition of two numbers

In [ ]:
a=int(input("Enter a"))
b=int(input("Enter b"))
c=a+b
print(c)
print(type(c))

Enter a5
Enter b10
15
<class 'int'>

# Dynamic multiplication of two numbers

In [ ]:
a=int(input("Enter a"))
b=int(input("Enter b"))
c=a*b
print(c)
print(type(c))

Enter a5
Enter b10
50
<class 'int'>

# Type Conversions

## Convert int to float

In [ ]:
a=10
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

## Convert float to int

In [ ]:
a=5.5
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

5.5
<class 'float'>
5
<class 'int'>

## Convert int to string

In [ ]:
a=10
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

## Convert float to string

In [ ]:
a=5.5
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

5.5
<class 'float'>
5.5
<class 'str'>

## Convert string to int

In [ ]:
a='55'
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

55
<class 'str'>
55
<class 'int'>

## Convert string to float

In [ ]:
a='5.5'
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

5.5
<class 'str'>
5.5
<class 'float'>

# Boolean datatype conversions

## Convert int to boolean

In [ ]:
a=50
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

50
<class 'int'>
True
<class 'bool'>

## Boolean conditions check

In [ ]:
print(5==6)

False

In [ ]:
print(6>4)

True

## Convert float to boolean

In [ ]:
a=5.5
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

5.5
<class 'float'>
True
<class 'bool'>

## Convert string to boolean

In [ ]:
a='55'
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

55
<class 'str'>
True
<class 'bool'>

## Convert boolean to int

In [ ]:
a=True
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

True
<class 'bool'>
1
<class 'int'>

## Convert boolean to float

In [ ]:
a=False
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

False
<class 'bool'>
0.0
<class 'float'>

## Convert boolean to string

In [ ]:
a=True
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

True
<class 'bool'>
True
<class 'str'>

## int to boolean(with condition)

In [ ]:
a=5
b=10
c=(a>b)
print(c)
print(type(c))

False
<class 'bool'>

## boolean to int(with condition)

In [ ]:
a=bool(10)
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

True
<class 'bool'>
1
<class 'int'>

## float to boolean(with condition)

In [ ]:
a=bool(10)
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

True
<class 'bool'>
1.0
<class 'float'>